#NodeJS 서버 로드밸런싱
    upstream nodejs_server {
        #least_conn;
        #ip_hash;
        server localhost:3000 weight=10 max_fails=3 fail_timeout=10s;
        server localhost:3001 weight=10 max_fails=3 fail_timeout=10s;
    }
    
    #3333번 포트 NodeJS 서버로 연결
    server{
        listen		3333;
        server_name  localhost;
        
        location / {
            proxy_pass http://nodejs_server;
        }
    }